body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: url(assets/images/bg_quiz.png)no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 3s;

    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);

    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    height: 100%;
}
