.container {
    height: 90%;
    width: 75%;
    margin: auto;
    text-align: center;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#start-btn {
    background-color: rgb(0, 68, 255);
    margin: 0 auto;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 35px;
    height: 135%;
    text-align: center;
    width: 100%;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    letter-spacing: normal;
}

h1{
    font-size: 100px;
}

#name-input {
    margin: 0 auto;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 75%;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
}

.space{
    margin-top: 30px;
}